$dark-color:#000;

$light-color: #f5e9dd;
$second-light-color:#d6c3b0;
$main-dark-color: #231936;
$main-middle-dark-color: #432e57;
$main-middle-color: #51425e;
$main-middle-light-color: #6d5583;
$main-light-color: #b38fce;

$light-purple: #ebdcf6;

// 导航头高度
$head-nav-height:2rem;
// 页面整体左边距
$page-left-gap:0.5rem;

