$dark-color:#000;

$light-color: #f5e9dd;
$second-light-color:#d6c3b0;
$main-dark-color: #231936;
$main-middle-dark-color: #432e57;
$main-middle-color: #51425e;
$main-middle-light-color: #6d5583;
$main-light-color: #b38fce;

$light-purple: #ebdcf6;

$pp-1:#6247aa;
$pp-2:#7251b5;
$pp-3:#815ac0;
$pp-4:#9163cb;
$pp-5:#a06cd5;
$pp-6:#b185db;
$pp-7:#c19ee0;

// 导航头高度
$head-nav-height:2rem;
// 页面整体左边距
$page-left-gap:0.5rem;
// 页面整体页脚高度
$foot-page-height:1.5rem;
