.el-input,
.el-dialog .el-input{
  --el-input-bg-color:transparent;
  --el-input-border-color:#f5e9dd;
  --el-input-placeholder-color:#f5e9dd;
  -el-input-icon-color:#f5e9dd;
  --el-input-focus-border-color:#b38fce;
  --el-input-hover-border-color:#b38fce;
  --el-input-text-color:#51425e;
  &.border-input{
    .el-input-group__prepend{
      box-shadow: none;
      background: transparent;
      padding:0 0.3rem;
      font-weight: bold;
      color:$pp-7;
      text-shadow:
              0px 0px 5px rgb(from $pp-7 r g b / 30%),
              0px 0px 10px rgb(from $pp-7 r g b /20%),
              0px 0px 20px rgb(from $pp-7 r g b / 10%);
    }
    .el-input__wrapper{
      --el-input-placeholder-color:#{rgb(from $b-4 r g b /25%)};
      --el-input-text-color:#{$b-1};
      border-radius:0;
      box-shadow:none !important;
      border-bottom: 1px solid rgb(from $b-4 r g b /25%);
      transition-property: border-bottom;
      transition-duration: 0.2s;
      input{
        text-shadow:
                0px 0px 5px rgb(from $b-1 r g b / 60%),
                0px 0px 10px rgb(from $b-1 r g b /20%),
                0px 0px 20px rgb(from $b-1 r g b / 40%);
      }
      &.is-focus{
        border-bottom: 1px solid rgb(from $b-4 r g b /100%);
        font-weight: bold;
      }
    }
  }
  .el-input__suffix i{
    color:$light-color ;
    &:hover{
      color:$main-light-color;
    }
  }
}
.el-form-item,
.el-dialog .el-form-item{
  &:not(.foot){
    margin-bottom:1.2rem;
  }
  &.name.is-required:not(.is-no-asterisk).asterisk-left>.el-form-item__label:before{
    content:'👾' !important;
  }
  &.password.is-required:not(.is-no-asterisk).asterisk-left>.el-form-item__label:before{
    content:'🔑' !important;
  }
  &.confirmPassword.is-required:not(.is-no-asterisk).asterisk-left>.el-form-item__label:before{
    content:'🦯' !important;
  }
  &.email.is-required:not(.is-no-asterisk).asterisk-left>.el-form-item__label:before{
    content:'📮' !important;
  }
  --el-color-danger:#b38fce;
}
.filter-form,
.el-dialog {
  .el-input{
    --el-input-text-color:#f5e9dd;
  }
  .el-form-item__label{
    color:$main-light-color;
    font-size:0.8rem;
  }
}

.el-dialog{
  min-width:300px;
  background:$main-dark-color !important;
  border: 0.2rem solid $main-light-color;
  .el-dialog__close{
    color:$main-light-color !important;
    &:hover{
      color:$light-color !important;
    }
  }
  .el-dialog__header{
    background: $main-middle-dark-color;
    padding-bottom:0rem;
    margin-bottom:1rem;
    padding-left:0.3rem;
    margin-right:1rem;
    box-shadow:inset 0px 0px 0px 1px $main-middle-dark-color;
    .el-dialog__title{
      color:$main-light-color;
      font-size:1rem;
      font-weight: bold;
    }
  }
  .el-dialog__body{
    color:$light-purple;
    padding-right:1rem;
  }
  .foot-btn-box{
    display: flex;
    .dialog-foot-btn{
      height:1.5rem;
      line-height: 1.5rem;
      border-radius:0.3rem;
      flex:1;
      background: $main-light-color;
      color:$main-dark-color;
      font-weight: bold;
      transform:translateY(0px);
      transition-property: transform,background,color,box-shadow;
      transition-duration: 0.1s;
      &:hover{
        transform:translateY(-1px);
        background: $main-dark-color !important;
        color:$main-light-color;
        box-shadow: inset 0px 0px 0px 1px $main-light-color;
      }
      &.cancel{
        background: $main-middle-color;
        color:$main-light-color;
        box-shadow: inset 0px 0px 0px 1px $main-light-color;
      }
      &:not(&:last-child){
        margin-right: 1rem;
      }
    }
  }
}

.el-table{
  background: transparent !important;

}
