.el-input{
  --el-input-bg-color:transparent;
  --el-input-border-color:#f5e9dd;
  --el-input-placeholder-color:#f5e9dd;
  -el-input-icon-color:#f5e9dd;
  --el-input-focus-border-color:#b38fce;
  --el-input-hover-border-color:#b38fce;
  --el-input-text-color:#51425e;
  .el-input__suffix i{
    //color:#6d5583 ;
    color:#f5e9dd ;
    &:hover{
      color:#b38fce;
    }
  }
}
.el-form-item{
  &:not(.foot){
    margin-bottom:1.2rem;
  }
  &.name.is-required:not(.is-no-asterisk).asterisk-left>.el-form-item__label:before{
    content:'👾' !important;
  }
  &.password.is-required:not(.is-no-asterisk).asterisk-left>.el-form-item__label:before{
    content:'🔑' !important;
  }
  &.confirmPassword.is-required:not(.is-no-asterisk).asterisk-left>.el-form-item__label:before{
    content:'🦯' !important;
  }
  &.email.is-required:not(.is-no-asterisk).asterisk-left>.el-form-item__label:before{
    content:'📮' !important;
  }
  --el-color-danger:#b38fce;
}
.filter-form{
  .el-form-item__label{
    color:#b38fce;
    font-size:0.8rem;
  }
}
